## Задание 1

Приведение данных к приемлемому виду.

In [ ]:
import pandas as pd
df = pd.read_excel('sample_data/data.xls')
df.dropna(axis = 0, inplace=True)
df.drop(1, inplace=True)
df.columns = ['Кол-во яиц', '1', '2', '3', '4', '5 или более']
df.index = df.index - 2
df

                               Кол-во яиц     1     2     3     4 5 или более
0           Морская чайка (Larus marinus)  12.0  42.0  35.0   9.0           2
1  Деревенская ласточка (Hirundo rustica)   3.0  13.0  43.0  65.0          26

Найдём интересующие нас суммы.

In [ ]:
df["total"] = df.iloc[:, 1:].sum(axis=1)
df.loc[2] = df.sum(axis=0)
df

                                          Кол-во яиц     1  ...  5 или более  total
0                      Морская чайка (Larus marinus)  12.0  ...            2  100.0
1             Деревенская ласточка (Hirundo rustica)   3.0  ...           26  150.0
2  Морская чайка (Larus marinus)Деревенская ласто...  15.0  ...           28  250.0

[3 rows x 7 columns]

Частоты:

In [ ]:
chast_1_1 = df['1'][0]/df['total'][0]
chast_1_2 = df['2'][0]/df['total'][0]
chast_1_3 = df['3'][0]/df['total'][0]
chast_1_4 = df['4'][0]/df['total'][0]
chast_1_5 = df['5 или более'][0]/df['total'][0]
chast_2_1 = df['1'][1]/df['total'][1]
chast_2_2 = df['2'][1]/df['total'][1]
chast_2_3 = df['3'][1]/df['total'][1]
chast_2_4 = df['4'][1]/df['total'][1]
chast_2_5 = df['5 или более'][1]/df['total'][1]

Сумма Пирсона:

In [ ]:
weight = df['total'][0]*df['total'][1]
pirs_sum = weight*(1/df['1'][2]*(chast_1_1-chast_2_1)**2+1/df['2'][2]*(chast_1_2-chast_2_2)**2
                   +1/df['3'][2]*(chast_1_3-chast_2_3)**2+1/df['4'][2]*(chast_1_4-chast_2_4)**2+1/df['5 или более'][2]*(chast_1_5-chast_2_5)**2)
pirs_sum

77.56378006378007

Пусть критическое значение = 9.488. Тогда:

In [ ]:
pirs_crit = 9.488
if pirs_sum < pirs_crit:
  print('Нет оснований отвергнуть гипотезу об однородности.')
else:
  print('Есть основания отвергнуть гипотезу об однородности.')

Есть основания отвергнуть гипотезу об однородности.

## Задание 2

In [1]:
import pandas as pd
df = pd.read_excel('sample_data/data.xls', sheet_name='К заданию 2')
df.loc[-1] = df.columns
df.index = df.index + 1
df = df.sort_index()
df.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
df

           A         B         C  ...         H         I         J
0   0.382731  0.154585  0.003048  ...  0.024107  0.037142  1.364981
1   1.250735  5.775435  7.147112  ...  1.810394  1.105737  4.613917
2   7.715826  5.649757  2.177790  ...  0.001646  4.864271  0.263041
3   0.330748  9.445705  3.210902  ...  1.144388  5.821314  5.654804
4   5.816777  6.361075  5.477977  ...  0.903138  4.632474  2.509713
5   0.059545  0.541448  0.099196  ...  1.229955  2.355483  7.231418
6   2.366325  3.083115  2.715533  ...  9.744229  5.245892  3.305360
7   1.732450  2.839375  2.049457  ...  0.516604  7.195291  6.642747
8   1.028909  7.014381  7.035392  ...  6.978245  8.950365  2.033645
9   0.256510  0.634526  6.043377  ...  0.178745  0.923270  6.131352
10       NaN       NaN       NaN  ...       NaN       NaN       NaN
11       NaN       NaN       NaN  ...       NaN       NaN       NaN
12  4.947031  8.894401  0.583572  ...  8.893728  7.268036  4.142663
13  1.920586  8.369371  1.618873  ...  5.262031  1.176753  5.620048
14  0.352066  8.291847  6.143657  ...  6.670994  0.867978  4.722123
15  2.560688  2.150584  1.724943  ...  3.988623  0.450866  6.381752
16  5.657219  6.565637  4.082346  ...  2.707311  6.845744  9.940662
17  2.310944  3.403505  8.837389  ...  6.711883  0.833375  9.743777
18  2.936147  8.197577  9.091011  ...  5.361701  6.512893  9.306033
19  0.434055  2.019922  5.143914  ...  0.746895  5.648092  3.221408

[20 rows x 10 columns]

Разделим полученные данные на две таблицы по выборкам.

In [ ]:
df_1 = df[df.columns][0:10]
df_2 = df[df.columns][13:20]
df_2.index = df_2.index - 13
print(df_1, '\n', df_2)

          A         B         C  ...         H         I         J
0  0.382731  0.154585  0.003048  ...  0.024107  0.037142  1.364981
1  1.250735  5.775435  7.147112  ...  1.810394  1.105737  4.613917
2  7.715826  5.649757  2.177790  ...  0.001646  4.864271  0.263041
3  0.330748  9.445705  3.210902  ...  1.144388  5.821314  5.654804
4  5.816777  6.361075  5.477977  ...  0.903138  4.632474  2.509713
5  0.059545  0.541448  0.099196  ...  1.229955  2.355483  7.231418
6  2.366325  3.083115  2.715533  ...  9.744229  5.245892  3.305360
7  1.732450  2.839375  2.049457  ...  0.516604  7.195291  6.642747
8  1.028909  7.014381  7.035392  ...  6.978245  8.950365  2.033645
9  0.256510  0.634526  6.043377  ...  0.178745  0.923270  6.131352

[10 rows x 10 columns]
           A         B         C  ...         H         I         J
0  1.920586  8.369371  1.618873  ...  5.262031  1.176753  5.620048
1  0.352066  8.291847  6.143657  ...  6.670994  0.867978  4.722123
2  2.560688  2.150584  1.724943  ...  3.988623  0.450866  6.381752
3  5.657219  6.565637  4.082346  ...  2.707311  6.845744  9.940662
4  2.310944  3.403505  8.837389  ...  6.711883  0.833375  9.743777
5  2.936147  8.197577  9.091011  ...  5.361701  6.512893  9.306033
6  0.434055  2.019922  5.143914  ...  0.746895  5.648092  3.221408

[7 rows x 10 columns]

Теперь обработаем данные и составим таблицу по колличеству значений попавших в тот, или иной интервал.

In [ ]:
a = df_1.min().min()
b = df_1.max().max()

c = df_2.min().min()
d = df_2.max().max()
print('[',a,':',b,']','\n','[',c,':',d,']' )

[ 0.00020943835742633527 : 9.801656427848298 ]
 [ 0.21368911786907252 : 9.94066171357902 ]

Пусть будут следующие интервалы:

[0:2],[2:4],[4:6],[6:8],[8:10]

In [ ]:
def fetch_match_times(x, y, df_name):
  out = 0
  for rowIndex, row in df_name.iterrows():
    for columnIndex, value in row.items():
      if ((value < y) & (value > x)):
        out += 1
  return out
df_data = pd.DataFrame(columns=['selections\ranges', '[0:2]','[2:4]','[4:6]','[6:8]','[8:10]'])
df_data.loc[0] = ['df_1', fetch_match_times(0,2, df_1), fetch_match_times(2,4, df_1),
                  fetch_match_times(4,6, df_1), fetch_match_times(6,8, df_1), fetch_match_times(8,10, df_1)]
df_data.loc[1] = ['df_2', fetch_match_times(0,2, df_2), fetch_match_times(2,4, df_2),
                  fetch_match_times(4,6, df_2), fetch_match_times(6,8, df_2), fetch_match_times(8,10, df_2)]
df_data

  selections\ranges [0:2] [2:4] [4:6] [6:8] [8:10]
0              df_1    45    19    14    11     11
1              df_2    16    15    13    17      9

Теперь всё сводится к первой задаче. А именно:
*   Нахождение сумм по строкам и столбцам
*   Нахождение суммы Пирсона
*   Сравнение суммы Пирсона с критическим значением(9.488)

In [ ]:
df_data["total"] = df_data.iloc[:, 1:].sum(axis=1)
df_data.loc[2] = df_data.sum(axis=0)
print(df_data)

chast_1_1 = df_data['[0:2]'][0]/df_data['total'][0]
chast_1_2 = df_data['[2:4]'][0]/df_data['total'][0]
chast_1_3 = df_data['[4:6]'][0]/df_data['total'][0]
chast_1_4 = df_data['[6:8]'][0]/df_data['total'][0]
chast_1_5 = df_data['[8:10]'][0]/df_data['total'][0]
chast_2_1 = df_data['[0:2]'][1]/df_data['total'][1]
chast_2_2 = df_data['[2:4]'][1]/df_data['total'][1]
chast_2_3 = df_data['[4:6]'][1]/df_data['total'][1]
chast_2_4 = df_data['[6:8]'][1]/df_data['total'][1]
chast_2_5 = df_data['[8:10]'][1]/df_data['total'][1]

weight = df_data['total'][0]*df_data['total'][1]
pirs_sum = weight*(1/df_data['[0:2]'][2]*(chast_1_1-chast_2_1)**2+1/df_data['[2:4]'][2]*(chast_1_2-chast_2_2)**2
                   +1/df_data['[4:6]'][2]*(chast_1_3-chast_2_3)**2+1/df_data['[6:8]'][2]*(chast_1_4-chast_2_4)**2+1/df_data['[8:10]'][2]*(chast_1_5-chast_2_5)**2)
print('Сумма Пирсона:', pirs_sum)

pirs_crit = 9.488
if pirs_sum < pirs_crit:
  print('Нет оснований отвергнуть гипотезу об однородности.')
else:
  print('Есть основания отвергнуть гипотезу об однородности.')

          selections\ranges [0:2] [2:4] [4:6] [6:8] [8:10]   total
0                      df_1    45    19    14    11     11   300.0
1                      df_2    16    15    13    17      9   210.0
2  df_1df_2df_1df_2df_1df_2   183   102    81    84     60  1530.0
Сумма Пирсона: 3.607720200405603
Нет оснований отвергнуть гипотезу об однородности.

## Задание 3

In [11]:
import pandas as pd
df = pd.read_excel('sample_data/data.xls', sheet_name='К заданию 3')
# df.fillna(0, inplace=True)
df

    Без курсов  Проходили курс
0         54.0              58
1         76.0              58
2         34.0              58
3         98.0              92
4         80.0              92
5         84.0              70
6         54.0              38
7         54.0              44
8         76.0              48
9         76.0              52
10        82.0              72
11        80.0              72
12        80.0              72
13         NaN              50
14         NaN              54
15         NaN              54
16         NaN              95

Гипотеза: курсы не повлияли на успеваемость студентов.

In [12]:
min = df.min().min()
max = df.max().max()
print(min, max)

34.0 98.0

[30,50][50,70][70,90][90,100]

In [23]:
def fetch_match_times(x, y, df_name):
  out = 0
  for i, value in df[df_name].iteritems():
    if ((value < y) & (value > x)):
      out += 1
  return out
df_data = pd.DataFrame(columns=['Visit course?\Test result', '[30:50]','[50:70]','[70:90]','[90:100]'])
df_data.loc[0] = ['Yes', fetch_match_times(30,50, 'Проходили курс'), fetch_match_times(50,70, 'Проходили курс'),
                  fetch_match_times(70,90, 'Проходили курс'), fetch_match_times(90,100, 'Проходили курс')]
df_data.loc[1] = ['No', fetch_match_times(30,50, 'Без курсов'), fetch_match_times(50,70, 'Без курсов'),
                  fetch_match_times(70,90, 'Без курсов'), fetch_match_times(90,100, 'Без курсов')]
df_data

  Visit course?\Test result [30:50] [50:70] [70:90] [90:100]
0                       Yes       3       6       3        3
1                        No       1       3       8        1

In [26]:
df_data["total"] = df_data.iloc[:, 1:].sum(axis=1)
df_data.loc[2] = df_data.sum(axis=0)
print(df_data)

chast_1_1 = df_data['[30:50]'][0]/df_data['total'][0]
chast_1_2 = df_data['[50:70]'][0]/df_data['total'][0]
chast_1_3 = df_data['[70:90]'][0]/df_data['total'][0]
chast_1_4 = df_data['[90:100]'][0]/df_data['total'][0]
chast_2_1 = df_data['[30:50]'][1]/df_data['total'][1]
chast_2_2 = df_data['[50:70]'][1]/df_data['total'][1]
chast_2_3 = df_data['[70:90]'][1]/df_data['total'][1]
chast_2_4 = df_data['[90:100]'][1]/df_data['total'][1]

weight = df_data['total'][0]*df_data['total'][1]
pirs_sum = weight*(1/df_data['[30:50]'][2]*(chast_1_1-chast_2_1)**2+1/df_data['[50:70]'][2]*(chast_1_2-chast_2_2)**2
                   +1/df_data['[70:90]'][2]*(chast_1_3-chast_2_3)**2+1/df_data['[90:100]'][2]*(chast_1_4-chast_2_4)**2)
print('Сумма Пирсона:', pirs_sum)

pirs_crit = 7.814
if pirs_sum < pirs_crit:
  print('Нет оснований отвергнуть гипотезу об однородности.')
else:
  print('Есть основания отвергнуть гипотезу об однородности.')

  Visit course?\Test result [30:50] [50:70] [70:90] [90:100]  total
0                       Yes       3       6       3        3   45.0
1                        No       1       3       8        1   39.0
2           YesNoYesNoYesNo      12      27      33       12  252.0
Сумма Пирсона: 1.718725718725719
Нет оснований отвергнуть гипотезу об однородности.